.text{
	font-family: 'Anton', sans-serif;
	font-size: 6em;
	background-image: url("../media/bg_image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3{
	font-family: 'Anton', sans-serif;
}

header img{
	width: 15%;
	border-radius: 50%;
}

header div{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fact{
	display: flex;
	justify-content: space-between;
}

.color_green{
	color: #fbffb0;
}

.color_white{
	color: #ffffff;
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card{
	width: 300px;
}
